<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Sobre o projeto</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/sobre.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">	
</head>
<body>
<main class="principal">
	<section class="secao-cima">
		<header class="cabecalho">
			<div class="logo"></div>
			<div id="nome-projeto">Levius</div>
		</header>
		<p class="frase">Tire o seu peso. Fique leve!</p>
	</section>
	<section class="secao-baixo">
		<div class="baixo">
			<h2>O que nós fazemos?</h2>
			<p>	O Levius é um chat em que você pode conversar com um psicólogo capacitado nos momentos em que mais precisa. Foi criado com o intuito de fazer com que você possa conversar com um profissional quando sentir a necessidade - seja para algo simples ou algum problema mais complexo - e assim se sentir mais leve.</p> 
			<p>Todos os psicólogos são voluntários e passam por uma validação interna antes de serem liberados para utilizar o site. Pensamos sempre no usuário!</p>
		</div>
	</section>
</main>
</body>
</html>