* {
  font-family: 'Roboto', sans-serif;  
}

body {
  margin: 0;
  padding: 0;
}

.principal {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.secao {
  height: 100vh;
  padding-top: 54px;
  box-sizing: border-box;
}

#secao-esquerda {
  width: 500px;
  padding-left: 78px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#secao-direita {
  padding-left: 260px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  flex: 1;
  background-color: #6562FF;
  background-image: url('../img/Background.png');
  background-size: cover;
  background-position: left;
  box-sizing: border-box;
}

.space {
  flex: 1;
}

.cabecalho {
  display: flex;
  align-items: center;
}

.logo{
  width: 42px;
  height: 42px;
  background-color: #D4D3E2;
  background: url('../img/logo.png') no-repeat center;
  background-size: cover;
}

#nome-projeto {
  font-size: 24px;
  margin-left: 32px;
}

p {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 18px;
}

.campo {
  width: 254px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #EAF0F7;
  border-radius: 3px;
  border: none;
  padding: 16px 24px;
  margin-top: 18px;
  margin-bottom: 0;
}

.botao {
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  padding: 13px 64px;
  cursor: pointer;
}

#botao-esquerdo {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  background-color: #6562FF;
  margin-top: 27px;
}

#botao-direito {
  font-size: 24px;
  background-color: rgba(255,255,255,.17);
  margin-top: 32px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: #000;
}

/* Modal Content */
.conteudo-modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.fechar {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.link {
  color: #FFFFFF;
  font-size: 24px;
  margin-right: 28px;
  margin-left: 28px;
  text-decoration: none;
}

.desabilitado {
  color: #C0C0C0;
}

#frase-efeito {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 0;
}
